#root {
  /* max-width: 1280px;
  padding: 2rem; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.primary-button {
  padding: 15px 40px;
  border: transparent;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}
.icon-button {
  padding: 13px;
  border: transparent;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 7px #e8e8e8);
  height: 40px;
  background: #fff;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-button svg path {
  fill: var(--text-color);
}

@media screen and (max-width: 768px) {
  .navbar-wrapper.dark {
    display: none;
  }
  .navbar-wrapper.light .navbar {
    padding: 0 2rem;
    gap: unset;
  }
  .nav-container {
    width: unset;
  }
  .nav-container nav {
    display: none;
  }
  .hero {
    padding: 24px 32px;
  }
  .grid {
    grid-template: repeat(4, 300px) / 1fr;
    height: unset;
  }
  .grid .prod-1 {
    grid-row: unset;
  }
  .grid .prod-2 {
    grid-column: unset;
  }
  .products-grid {
    gap: 30px;
    grid-template-columns: 295px;
  }
  .services-grid {
    flex-direction: column;
  }
  .posts {
    flex-direction: column;
    gap: 30px;
  }
  .testimonial .wrapper .header {
    flex-direction: column;
  }
  .footer-top .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-middle .wrapper {
    grid-template-columns: 1fr;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
